<html lang="en">
<%- include('./partials/head.ejs')  %>

    <body>
        <%- include('./partials/nav.ejs')  %>

            <div class="about content">
                <h2>About Us</h2>
                <p>This is a blog were I post all the lessons that i'm attending on Alida school with my teacher Brian and my class mate Edwin, I have classes from monday to friday, every week, until April, I think</p>
                <p>To everybody comming to see my progress becoming a fullstack developer, welcome, I hope you to have fun around here and to grow the same way as I am growing professionally, thank you for reading me.</p>
                <p>Hamilton Lumati.</p>
            </div>

            <%- include('./partials/footer.ejs')  %>

    </body>

</html>